@media (min-width: 1200px) {
    .container, .container-fluid{
        max-width: 1280px;
    }
    #sidebarCollapse span {
        display: none;
    }
}

a#viewmode
{
    position: fixed;
    bottom: 5px;
    left: 5px;
}

body{
    background-image: url("../images/distort.PNG");
    /* background-blend-mode: multiply; */
    background-attachment: fixed;
}

.glass
{
    background-color: rgba(240,240,240,0.9);
    box-shadow: rgba(0,0,0,0.6) 0px 0px 10px;
}


#header
{
    height: 150px;
    color: #555;
    font-size: 11px;
    margin-bottom:30px;
    font-family:Capt;
}

#header .site-description
{
    font-size: 16px;
    padding-left: 10px;
    padding-top: 5px;
}

#header .site-summary
{
    font-size: 16px;
    text-align: right;
}

#header .site-logo
{
    height: 110px;
    background: url("../images/header_logo.png") left center no-repeat;
    background-size:  auto 100%;
}

#header .site-logo a
{
    margin-left: 63%;
    margin-top: 11%;
}

#navbar.navbar{
    background: #51809c;
    border-radius: 0;
    border: none;
    box-shadow: rgba(0,0,0,0.6) 0px 0px 4px 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#navbar li
{
    background: rgba(255,255,255,0.2);
    padding: 5px;
    margin: 5px;
    width: 120px;
}

#navbar li a
{
    font-family: capt;
    text-align: center;
    color: #555;
    font-size: 20px;
    padding: 5px;
}

#navbar li a:hover,#navbar li.active a:hover
{
    background: rgba(243,109,61,0.4);
}

#navbar li.active a
{
    background: rgba(255,255,255,0.2);
}

#navbar #searchInput
{
    width: 200px;
    height: 30px;
    display: inline-block;
    border-radius: 4px 0px 0px 4px;

    border: 2px #f36d3d solid;
}

#navbar #searchBtn
{
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 0px 4px 4px 0px;

    border: 2px #f36d3d solid;
    background: #f36d3d;
    margin-left: -4px;
}

#navbar #searchBtn:hover
{
    background: #f38d5d
}

#navbar #search
{
    display: block;
    float: left;
    width: 230px;
    height: 30px;
    margin: 10px 30px;
    border-radius: 4px;
    box-shadow: #333 0px 0px 4px;
    overflow: hidden;
}
.uname{
    display: block;
    position: relative;
    margin-left: 50px;
    font-family: capt;
    text-align: center;
    padding-top: 2px;
}

#umenu li
{
    min-width: 60px;
    max-width: 80px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    margin: 0px 10px 0px;
    float: left;
}
.shdhelper{
    width: 100%;
    height: 0;
    visibility: hidden;
}


#umenu li a
{
    font-family: capt;
    text-align: center;
    color: #555;
    width: 100%;
    height: 25px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    float: left;
}

#umenu li a:hover,#navbar li.active a:hover
{
    background: rgba(243,109,61,0.4);
}

#umenu li.active a
{
    background: rgba(255,255,255,0.2);
}

.umenu
{
    align: center;
    display: block;
    height: 50px;
    min-width: 300px;
    max-width: 350px;
    float: left;
    position: relative;
    background: rgba(255,255,255,0.2);
}
.img-thumbnail
{
    align: center;
    position: absolute;
    left: 0px;
    height: 40px;
    width: 40px;
    margin: 5px;
}


#umenu ul
{
    height: 30px;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    display: block;
    text-align: justify;

}





#content
{
    padding: 20px;
}

#content .content-inner
{
    padding: 20px;
    background: url("../images/blue-distort.png");
    color: rgba(255, 255, 255, 0.9);
    text-shadow:
            -0   -1px 1px rgba( 0, 0, 0, 0.21 ),
            0   -1px 1px rgba( 0, 0, 0, 0.21 ),
            -0    1px 1px rgba( 0, 0, 0, 0.21 ),
            0    1px 1px rgba( 0, 0, 0, 0.21 ),
            -1px -0   1px rgba( 0, 0, 0, 0.21 ),
            1px -0   1px rgba( 0, 0, 0, 0.21 ),
            -1px  0   1px rgba( 0, 0, 0, 0.21 ),
            1px  0   1px rgba( 0, 0, 0, 0.21 ),
            -1px -1px 1px rgba( 0, 0, 0, 0.21 ),
            1px -1px 1px rgba( 0, 0, 0, 0.21 ),
            -1px  1px 1px rgba( 0, 0, 0, 0.21 ),
            1px  1px 1px rgba( 0, 0, 0, 0.21 ),
            -1px -1px 1px rgba( 0, 0, 0, 0.21 ),
            1px -1px 1px rgba( 0, 0, 0, 0.21 ),
            -1px  1px 1px rgba( 0, 0, 0, 0.21 ),
            1px  1px 1px rgba( 0, 0, 0, 0.21 );
}

#content h1
{
    text-align: left;
    font-family: Capt;
}
#content p
{
    text-align: left;

}
#menu
{

}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    background: #5986A3;
    color: #fff;
    transition: all 0.3s;
    text-shadow:
            -0   -1px 1px rgba( 0, 0, 0, 0.21 ),
            0   -1px 1px rgba( 0, 0, 0, 0.21 ),
            -0    1px 1px rgba( 0, 0, 0, 0.21 ),
            0    1px 1px rgba( 0, 0, 0, 0.21 ),
            -1px -0   1px rgba( 0, 0, 0, 0.21 ),
            1px -0   1px rgba( 0, 0, 0, 0.21 ),
            -1px  0   1px rgba( 0, 0, 0, 0.21 ),
            1px  0   1px rgba( 0, 0, 0, 0.21 ),
            -1px -1px 1px rgba( 0, 0, 0, 0.21 ),
            1px -1px 1px rgba( 0, 0, 0, 0.21 ),
            -1px  1px 1px rgba( 0, 0, 0, 0.21 ),
            1px  1px 1px rgba( 0, 0, 0, 0.21 ),
            -1px -1px 1px rgba( 0, 0, 0, 0.21 ),
            1px -1px 1px rgba( 0, 0, 0, 0.21 ),
            -1px  1px 1px rgba( 0, 0, 0, 0.21 ),
            1px  1px 1px rgba( 0, 0, 0, 0.21 );
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px;
    font-family: capt;
    font-size: 1.5em;
    text-align: center;
    background: #385A80;

}

#sidebar ul.components {
    border-bottom: 1px solid #000000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-family: capt;
    text-align: center;
    font-size: 1.4em;
    display: block;
    text-align: left;
    border-style: solid none none;
    border-width: 1px;
    border-color: #000000;
}
#sidebar ul li a:hover {
    font-family: capt;
    text-align: center;
    background: #6A6A6A;
    text-align: left;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #5986A3;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    text-align: center;
    font-size: 1em;
}
a[aria-expanded="true"]::before {
    font-family: 'Glyphicons Halflings';
    content: '\e260';
    font-size: 1em;
}


ul ul a {
    font-size: 1.4em !important;
    padding-left: 30px !important;
    background: #515151;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

