/*Filter styles*/
/*
.saturate {
    filter: saturate(3);
}

.grayscale {
    filter: grayscale(100%);
}

.contrast {
    filter: contrast(160%);
}

.brightness {
    filter: brightness(0.25);
}

.blur {
    filter: blur(3px);
}

.invert {
    filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.rss.opacity {
    filter: opacity(50%);
}
*/
/* blend toggles */
/*
.blend.normal {
    background-blend-mode: normal;
}

.blend.multiply {
    background-blend-mode: multiply;
}

.blend.screen {
    background-blend-mode: screen;
}

.blend.overlay {
    background-blend-mode: overlay;
}

.blend.darken {
    background-blend-mode: darken;
}

.blend.lighten {
    background-blend-mode: lighten;
}

.blend.color-dodge {
    background-blend-mode: color-dodge;
}

.blend.color-burn {
    background-blend-mode: color-burn;
}

.blend.hard-light {
    background-blend-mode: hard-light;
}

.blend.soft-light {
    background-blend-mode: soft-light;
}

.blend.difference {
    background-blend-mode: difference;
}

.blend.exclusion {
    background-blend-mode: exclusion;
}

.blend.hue {
    background-blend-mode: hue;
}

.blend.saturation {
    background-blend-mode: saturation;
}

.blend.color {
    background-blend-mode: color;
}

.blend.luminosity {
    background-blend-mode: luminosity;
}
*/

