body.strict
{

}

body.strict .glass
{
    background-image:  none;
    background-color: rgba(240,240,240,0.9);
    background-blend-mode: normal;
}

body.junior
{
    background-image: url("../images/science-colored.jpg"),url("../images/distort.PNG"),url("../images/colours2.jpg");
    background-blend-mode: multiply;
    background-attachment: fixed;
}

body.school
{
    background-image: url("../images/science-colored.jpg"),url("../images/distort.PNG");
    background-blend-mode: multiply;
    background-attachment: fixed;
}

body.student
{
    background-image: url("../images/science.jpg"),url("../images/distort.PNG");
    background-blend-mode: multiply;
    background-attachment: fixed;
}

body.junior .glass, body.student .glass, body.school .glass
{
    background-image:  url("../images/science-blur.jpg");
    background-attachment: fixed;
    background-color: rgba(240,240,240,0.9);
    background-blend-mode: overlay;
    box-shadow: rgba(0,0,0,0.6) 0px 0px 10px;
}